:root{
    --isw-body-text-color:#{$dark};
    --isw-body-bg-color:#{$white};
    --isw-btn-primary-color:#{$white};
    --isw-btn-primary-bgcolor:#{$green};
    --isw-btn-primary-bghover:#{$light-green};
    --isw-form-text-color:#{$dark};
    --isw-form-error-color:#{$red};
    --isw-form-error-border:#{$light-red};
    --isw-form-border-focus-color:#{$green};
    --isw-fab-primary-color:#{$white};
    --isw-fab-primary-bgcolor:#{$blue};
    --isw-fab-primary-hover-bg:#{$light-blue};
    --isw-fab-secondary-color:#{$white};
    --isw-fab-secondary-bgcolor:#{$green};
    --isw-fab-secondary-hover-bg:#{$light-green};
    --isw-body-font-size:#{$fs-base};
    --isw-body-font-weight:#{$fw-normal};
    --isw-h1-font-size:#{$h-1};
    --isw-h2-font-size:#{$h-2};
    --isw-h3-font-size:#{$h-3};
    --isw-h4-font-size:#{$h-4};
    --isw-h5-font-size:#{$h-5};
    --isw-h6-font-size:#{$h-6};
    --isw-h1-font-weight:#{$fw-black};
    --isw-h2-font-weight:#{$fw-semibold};
    --isw-h3-font-weight:#{$fw-bold};
    --isw-h4-font-weight:#{$fw-medium};
    --isw-h5-font-weight:#{$fw-normal};
    --isw-h6-font-weight:#{$fw-light};
    }